$display-regular: 'Verdana';

$pink: #B92356;
$green: #48D7AD;

body {
    font-family: $display-regular;
}

p {
    @include respond-to(mobile) { font-size: 13px; }
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: golden-ratio(18px, 1);
}

h1, h2, h3, h4 {
    font-weight: bold;
}

h1 { font-size: golden-ratio(18px, 3); }

h2 {
    color: $pink;
    font-size: golden-ratio(18px, 2);
    margin-bottom: 1em;
}

h3 {
    color: $green;
    font-size: golden-ratio(18px, 1);
    margin-bottom: 0.5em;
    @include respond-to(mobile) { font-size: 20px; }
}

h4 {
    color: $green;
    font-size: 16px;
    margin-bottom: 1em;
}

time {
    line-height: 1.5;
}

a {
	color: $green;
    font-size: 1em;
}