@include font-face(PT_Sans, 'fonts/pt_sans_caption');
@include font-face(PT_Sans_Bold, 'fonts/pt_sans_caption_bold', bold);
@include font-face(PT_Sans_Italic, 'fonts/PT_Sans-Web-Italic', normal, italic);

$display-regular: 'PT_Sans';
$display-italic: 'PT_Sans_Italic';
$display-bold: 'PT_Sans_Bold';

$pink: #B92356;
$green: #48D7AD;

body {
    font-family: $display-regular;
}

p {
    color: #666;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: golden-ratio(18px, 1);
}

h1, h2, h3, h4 {
    font-family: $display-bold;
}

h1 { font-size: golden-ratio(18px, 3); }

h2 {
    color: $pink;
    font-size: golden-ratio(18px, 2);
    margin-bottom: 1em;
}

h3 {
    color: $green;
    font-size: golden-ratio(18px, 1);
}

h4 {
    color: $green;
    font-size: 16px;
}

time {
    line-height: 1.5;
}

a {
    font-size: 1em;
}